html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: auto;
    /*webkit浏览器*/
    -webkit-touch-callout: none;
    /*系统默认菜单被禁用*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -khtml-user-select: none;
    /*早期浏览器*/
    -moz-user-select: none;
    /*火狐*/
    -ms-user-select: none;
    /*IE10*/
    user-select: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
  overflow-x: hidden;
  overflow: auto;
  /* 用于 android4+，或其他设备 */
  -webkit-overflow-scrolling: touch;
  /* 用于 ios5+ */
}

body,
html {
    height: 100%;
    background-color: #1E1E23;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
button,
textarea {
    outline: medium;
    border: none;
    resize: none;
    -webkit-user-select:auto; /*webkit浏览器*/
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    /** 设置光标颜色 */
    caret-color: #0E1B35;
    /** 用于解决 placeholder 文字垂直居中*/
    line-height: normal;
}

input::-webkit-search-cancel-button {
    display: none;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.clear {
    zoom: 1;
}
